.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 767px;
  position: relative;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: black;
}

.headerRight {
  display: flex;
  gap: 20px;
}

.headerLogo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.headerIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
