.header {
    width: 100%;
    margin-bottom: 20px;
}

.headerTop {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: black;
}

.cheeseImage {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.headerBottom {
    font-size: 18px;
    color: black;
    margin-top: 8px;
}

.highlightText {
    font-size: 40px;
    font-weight: bold;
    color: #FFCB10;
    cursor: pointer;
}

.imageContainer {
    margin: 40px 0; /* 이미지 위아래 간격 조정 */
    display: flex;
    justify-content: center;
    width: 100%;
}

.hamsterImage {
    width: 350px;
    height: auto;
    object-fit: cover;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 버튼 간 간격 늘림 */
    width: 100%;
    align-items: center;
    margin-top: 40px; /* 전체 버튼 위치 아래로 이동 */
}

.loginButton {
    width: 60%;
    cursor: pointer;
}
